{% extends 'teacher/teacherhome.html' %}
{% block menu %}
    <li><a href={% url 'home' %}>首页</a></li>
    <li><a href={% url 'teachersee' %}>查看优秀老师</a></li>
    <li><a href={% url 'teachcourse' %}>查看教授课程</a></li>
    <li><a href={% url 'checkEvaluated' %}>查看评价状态</a></li>
    <li><a href={% url 'personalscores' %}>查看评价统计</a></li>
    <li><a href={% url 'evaluateDetail' %}>查看评价明细</a></li>
    <li><a href={% url 'singleScore' %}>查看单项评价</a></li>
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>学号</th>
                <th>学生</th>
                <td>课程</td>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td> {{ student.student.user.username }}</td>
                    <td>{{ student.student.name }}</td>
                    <td>{{ student.t_course.course.cname }}</td>
                    <td>已选课</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}