{% extends 'teacher/teacherhome.html' %}
{% block menu %}
    <li><a href={% url 'home' %}>首页</a></li>
    <li><a href={% url 'teachersee' %}>查看优秀老师</a></li>
    <li style="background: #9d9d9d"><a href={% url 'teachcourse' %}>查看教授课程</a></li>
    <li><a href={% url 'checkEvaluated' %}>查看评价状态</a></li>
    <li><a href={% url 'personalscores' %}>查看评价统计</a></li>
    <li><a href={% url 'evaluateDetail' %}>查看评价明细</a></li>
    <li><a href={% url 'singleScore' %}>查看单项评价</a></li>
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>课程</th>
                <th>人数</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td> {{ course.t_course__course_id }}</td>
                    <td> {{ course.t_course__course__cname }}</td>
                    <td><a href={% url 'checkStudent' course.t_course__course_id %}>{{ course.sum }} </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}